#
#  
# 
/consul-*.tar.gz
/consul-*/*

# 
!/consul-1.9.5/api
/consul-1.9.5/api/*
!/consul-1.9.5/api/agent.go
!/consul-1.9.5/api/api.go
!/consul-1.9.5/api/catalog.go
!/consul-1.9.5/api/health.go
!/consul-1.9.5/api/operator_autopilot.go

# 
# !/consul-1.9.5/proto
# /consul-1.9.5/proto/*

# !/consul-1.9.5/proto/pbcommon
# /consul-1.9.5/proto/pbcommon/*
# !/consul-1.9.5/proto/pbcommon/common.proto

# !/consul-1.9.5/proto/pbservice
# /consul-1.9.5/proto/pbservice/*
# !/consul-1.9.5/proto/pbservice/healthcheck.proto
# !/consul-1.9.5/proto/pbservice/service.proto

#
# 
# 
/gogo_protobuf-*.tar.gz
/gogo_protobuf-*/*

# 
# !/gogo_protobuf-65acae22fc9d/gogoproto
# /gogo_protobuf-65acae22fc9d/gogoproto/*
# !/gogo_protobuf-65acae22fc9d/gogoproto/gogo.proto
